.card {
  margin: 5px;
  height: 280px;
  min-width: 400px;
  max-width: 400px;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 10px 16px;
    .price {
      font-size: 20px;
    }
  }
  .notAvialable {
    color: firebrick;
    font-size: 16px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
button {
  width: 100%;
}
